baseURL = "http://gagelara.com"
languageCode = "en-us"
disableKinds = ["taxonomy"]

[build]
    writeStats = true

[params]
    title = "Gage Lara Resume"
    author = "Gage Lara"
    description = "About Me:"
    copyright = "Check out my other links at:"
    theme = "dark" # `dark` or `light`

    # Profile section
    [params.profile]
        name = "Gage Lara"
        photo = "images/profile.jpg"

    # Section for links to social websites
    [params.social]
        title = "Links"

        [[params.social.list]]
        icon = "bi bi-linkedin"
        url = "https://www.linkedin.com/in/gage-lara/"
        title = "LinkedIn"

        [[params.social.list]]
        icon = "bi bi-github"
        url = "https://github.com/metamageia"
        title = "GitHub"
		
        [[params.social.list]]
        icon = "bi bi-envelope-at-fill"		
        url = "mailto:gageallenlara@gmail.com"
        title = "Email"

    # Interests section
    [params.skills]
        title = "Skills"

        [[params.skills.list]]
        interest = "Linux, Nix/Os, AWS, Git Ops"
		
    [params.hobbies]
        title = "Hobbies"

        [[params.hobbies.list]]
        interest = "Music Production"
		
		[[params.hobbies.list]]
        interest = "TTRPGs"

        [[params.hobbies.list]]
        interest = "Firedancing"

        [[params.hobbies.list]]
        interest = "3D Printing"

        [[params.hobbies.list]]
        interest = "Philosophy"

    [params.aboutme]
        description = "I’m an aspiring DevOps and Cloud engineer who loves turning complex ideas into satisfyingly efficient, automated, and declarative solutions. In addition to completing the Cloud Resume Challenge I’ve built and maintained a NixOS-powered cloud homelab, created interactive JavaScript tools for Tabletop RPGs, and designed streamlined CI/CD workflows for turning local markdown notes into fully built and deployed websites with a single click."

    # Experiences section
    [params.experiences]
        title = "Experience"

        [[params.jobs.list]]
        position = "Finishing Operator"
        dates = "Nov 2025 - Present"
        company = "BG Products"

        [[params.jobs.list]]
        position = "Production Operator"
        dates = "Sept 2025 - Nov 2025"
        company = "BG Products"

        [[params.jobs.list]]
        position = "Inventory Management Specialist"
        dates = "2018 - 2024"
        company = "Pioneer Balloon"

        [[params.jobs.list]]
        position = "Inventory Management Specialist"
        dates = "2014 - 2017"
        company = "Walmart"

    # Projects section
    [params.projects]
        title = "Projects"

        [[params.projects.list]]
        title = "Cloud Resume Challenge (AWS, Terraform, GitOps)"
        url = "https://github.com/metamageia/resume.gagelara"
        description = "Completed the Cloud Resume Challenge by developing a serverless static resume website on AWS, fully provisioned with Terraform, featuring a custom API and a Python Lambda function that updates a DynamoDB table to track the total number of website visitors."
		
        [[params.projects.list]]
        title = "Overlord: Javascript TTRPG Statblock Web App with PWA (JS, HTML, CSS)"
        url = "https://github.com/metamageia/overlord"
        description = "Overlord: A visual statblock library manager, creator, and editor for the Trespasser Tabletop RPG. This tool was made as a personal project for one of my favorite games while learning Javascript."

        [[params.projects.list]]
        title = "Obsidian to Quartz GitOps Tutorial (GitOps)"
        url = "https://blog.gagelara.com/post/effortless-obsidian-to-quartz-cicd-for-beginners-with-github-actions/"
        description = "Developed a tutorial explaining how to build a streamlined GitOps pipeline for turning Obsidian markdown notes into Quartz static websites with a single click, with instructions on automatically building and deploying multiple websites simultaneously from within a single vault - both demonstrating and teaching effective CICD principles in a beginner-friendly fashion."
		
		[[params.projects.list]]
        title = "NixOS Configuration (Nix, NixOS)"
        url = "https://github.com/metamageia/NixOS-Personal"
        description = "Published and maintain my personal NixOS Configuration in a GitHub repository demonstrating my understand of NixOS, Linux, and Declarative workflows."


    [params.badges]
        title = "Certification and Badges"

        [[params.badges.list]]
        url = "https://catalog-education.oracle.com/ords/certview/sharebadge?id=62315E67B83EC02C9553BF40BD86AE5127818B8E1058A1C6A6F26AD4B4F60F5E"
        badge = "images/OCI25FNDCFA.png"

        [[params.badges.list]]
        url = "https://www.credly.com/badges/c3c2da16-e40e-41dd-8cae-acc1f498dc35/public_url"
        badge = "images/aws-educate-getting-started-with-networking.png"


[deployment]
  [[deployment.targets]]
    name = 'production'
    url = 's3://resume.gagelara?region=us-east-2'